<launch> 
   
    <!-- Start ROSBridge WebSocket -->
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/>

    <!-- ROSSerial สำหรับ Mega ที่ /dev/ttyUSB0 -->
    <node pkg="rosserial_python" type="serial_node.py" name="serial_node_mega"
          output="screen">
        <param name="port" value="/dev/arduino_mega"/>
        <param name="baud" value="250000"/>
    </node>


    <!-- ROSSerial สำหรับ Nano ที่ /dev/ttyUSB1 -->
    <node pkg="rosserial_python" type="serial_node.py" name="serial_node_nano"
          output="screen">
        <param name="port" value="/dev/arduino_nano"/>
        <param name="baud" value="57600"/>
    </node>

</launch>
