<launch> 
   
    <!-- Start ROSBridge WebSocket -->
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/>

    <!-- ROSSerial สำหรับ Mega ที่ /dev/ttyUSB0 
    <node pkg="rosserial_python" type="serial_node.py" name="serial_node_mega"
          output="screen">
        <param name="port" value="/dev/arduino_mega"/>
        <param name="baud" value="250000"/>
    </node>
-->
<node name="map_manager_node" pkg="ptR1_navigation" type="map_manager_node.py" output="screen" />
<node name="stream_manager_node" pkg="ptR1_navigation" type="stream_manager_node.py" output="screen" />

</launch>
