<launch>
  <arg name="amcl" default="false"/>
  
  <!-- เรียกใช้งาน move_base -->
  <node pkg="move_base" type="move_base" name="move_base" output="screen">
    <param name="base_global_planner" value="navfn/NavfnROS"/>
    <rosparam file="$(find ptR1_navigation)/config/costmap_common_params.yaml" command="load"/>
    <rosparam file="$(find ptR1_navigation)/config/global_costmap_params.yaml" command="load"/>
    <rosparam file="$(find ptR1_navigation)/config/local_costmap_params.yaml" command="load"/>
    <rosparam file="$(find ptR1_navigation)/config/base_local_planner_params.yaml" command="load"/>
  </node>
</launch>
