<launch>
  <!--Move Base with TebLocalPlanner -->
  <node pkg="move_base" type="move_base" name="move_base" output="screen">
    <!-- เปลี่ยน planner -->
    <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS"/>
    
    <!-- โหลด config ทั้งหมด -->
    <rosparam file="$(find ptR1_navigation)/config/teb_planner.yaml" command="load"/>
    <rosparam file="$(find ptR1_navigation)/config/global_costmap_params.yaml" command="load"/>
    <rosparam file="$(find ptR1_navigation)/config/local_costmap_params.yaml" command="load"/>
    <rosparam file="$(find ptR1_navigation)/config/costmap_common_params.yaml" command="load"/>
  </node>
</launch>
