<launch>
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  
  <arg name="mode" default="nav" doc="mode type [slam, nav]"/>
  
  <arg name="map_file" default="$(find turtlebot3_navigation)/maps/map.yaml"/>
  
  <arg name="open_rviz" default="false"/>


  <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_world.launch">
    <arg name="model" value="$(arg model)"/>
  </include>


  <group if="$(eval arg('mode') == 'slam')">
    <include file="$(find turtlebot3_slam)/launch/turtlebot3_slam.launch">
      <arg name="model" value="$(arg model)"/>
      <arg name="open_rviz" value="$(arg open_rviz)"/>
    </include>
  </group>

  <group if="$(eval arg('mode') == 'nav')">
    <include file="$(find turtlebot3_navigation)/launch/turtlebot3_navigation.launch">
      <arg name="model" value="$(arg model)"/>
      <arg name="map_file" value="$(arg map_file)"/>
      <arg name="open_rviz" value="$(arg open_rviz)"/>
    </include>
  </group>


  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
     <arg name="port" value="9090"/>
  </include>

  <node name="map_manager" pkg="ptR1_navigation" type="navigation_node.py" output="screen" />

</launch>